@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Root styles */
:root {
  font-family: 'Nunito';

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}